.nav-item {
  border-radius: 29px;
background: linear-gradient(145deg, #b17d4f, #956943);
box-shadow:  5px 5px 0px #986c44,
             -5px -5px 0px #b27e50;
             margin-left: 10px;
}

.nav-item :hover {
  border-radius: 29px;
background: linear-gradient(145deg, #c3c162, #e8e575);
box-shadow:  5px 5px 0px #c8c564,
             -5px -5px 0px #eae776;
             margin-left: 10px;
}

.nav-item :active {
  border-radius: 29px;
background: #07a904;
box-shadow: inset 11px 11px 22px #069b04,
            inset -11px -11px 22px #08b704;
}


